<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-8 col-lg-9 logoprograma">
            <img src="../../assets/logo.png" class="img-fluid" alt="logoAP" id="logoAP">
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 redesyacceder">
            <a href="http://linkedin.com/in/martín-barea" target="_blank"><img src="../../assets/linkedin.png" class="img-fluid" alt="linkedin" id="iconRedes"></a>
            <a href="http://github.com/BareaM27" target="_blank"><img src="../../assets/github.png" class="img-fluid" alt="github" id="iconRedes"></a>
            <button type="button" class="btn btn-outline-dark" (click)="login()"><b>Acceder</b></button>
        </div>
    </div>
    <div class="row">
        <img src="../../assets/banner_filosofia_dos.jpg" class="img-fluid" alt="Banner" id="banner">
    </div>
</div>
