.container-fluid{
    background-color: antiquewhite;
}

.row{
    border: 5px solid black;
    border-radius: 30px;
    margin-top: 5px
}

/*Logo*/
.logo{
    position: relative;
    display: inline;
    text-align: center;
}

#logoempresa{
    width: 75px;
    height: 75px;
    border: 2px solid black;
    border-radius:100%;
    margin-top: 5px;
}

/*Empresa*/

.empresa{
    position: relative;
    display: inline;
    text-align: center;
}

/*Fecha*/

.fecha{
    position: relative;
    display: inline;
    text-align: center;
}

/*Descripcion*/

.descripcion{
    position: relative;
    display: inline;
    text-align: center;
}